$font-family-serif: Garamond, "Times New Roman", serif;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey-border: #eee;
$grey-text: #aaa;
$black: #000;
$white: #fff;

$left-margin: 8rem;

html {
  font-size: 10px;

  @include lg {
    font-size: 12px;
  }

  @include xl {
    font-size: 14px;
  }
}

body {
  color: $black;
  font-family: $font-family-sans-serif;
}

.App {
  font-size: 1.8rem;
  padding: 2rem;

  @include md {
    padding: 3rem;
  }

  @include md {
    padding: 4rem;
  }
}

a {
  color: $grey-text;
}

a:hover {
  color: $black;
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

button {
  background: transparent;
  border-radius: 1.6rem;
  border: 0.1rem solid $black;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
}

button:disabled {
  opacity: 0.3;
}

button:hover {
  background: $white;
}

.Menu {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin: 0 auto 2rem;
  width: 100%;

  @include lg {


  }
}

.Menu img {
  display: block;
}

.DiceMenu {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  border-right: 1px solid $grey-border;
  width: $left-margin;
  padding: 1rem;
  overflow: hidden;
}

.LinkMenu {
  position: absolute;
  top: 0;
  left: $left-margin;
  background: white;
  opacity: 1;
  width: calc(100% - $let-margin);
  z-index: 100;
}

.Menu-link {
  display: inline-block;
  padding: 1rem 0 1rem 0;
  font-family: $font-family-serif;
  margin-left: 1.5rem;
  line-height: 3rem;
  text-decoration: none;
}

.Menu-link--active {
  color: $black;
}

.Page {
  position: absolute;
  box-sizing: border-box;
  padding: 1rem;
  width: calc( 100% - 8rem );
  left: $left-margin;
  top: 2rem;
}

.Example {
  background: #F6F8FA;
  padding: 2rem;
  border-radius: 0.4rem;
}

.Example .Icon {
  margin-right: 10px;
}

.BackgroundImgExample {
  background-image: url(../assets/img/book1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
  max-width: 25rem;
}

.ImgExample {
  max-width: 25rem;
}

hr {
  border: 0;
  border-top: 1px solid $grey-border;
  margin: 2rem 0;
}
